---
#- name: Add apt repository
#  include_tasks: add_apt_repository.yml

- name: Determine MongoDB repo codename
  set_fact:
    mongodb_repo_codename: >-
      {{
        (
          'bookworm'
          if ansible_distribution == 'Debian' and ansible_distribution_major_version in ['12','13']
          else ansible_distribution_release
          if ansible_distribution == 'Ubuntu'
          else 'unsupported'
        ) | trim
      }}

- name: Fail if distro is unsupported
  fail:
    msg: "Unsupported distribution for MongoDB: {{ ansible_distribution }} {{ ansible_distribution_version }}"
  when: mongodb_repo_codename == "unsupported"

- name: Install prerequisite packages
  apt:
    name:
      - gnupg
      - curl
      - ca-certificates
      - lsb-release
    state: present
    update_cache: yes

- name: Download MongoDB GPG key (ASCII)
  ansible.builtin.get_url:
    url: "https://www.mongodb.org/static/pgp/server-{{ mongodb_version }}.asc"
    dest: /tmp/mongodb.asc
    mode: '0644'

- name: Convert MongoDB GPG key to binary keyring
  ansible.builtin.command:
    cmd: gpg --dearmor -o /usr/share/keyrings/mongodb.gpg /tmp/mongodb.asc
    creates: /usr/share/keyrings/mongodb.gpg

- name: Remove temporary MongoDB ASCII key
  file:
    path: /tmp/mongodb.asc
    state: absent

- name: Set MongoDB distro parameters
  set_fact:
    mongodb_repo_base: "{{ 'debian' if ansible_distribution == 'Debian' else 'ubuntu' }}"
    mongodb_repo_component: "{{ 'main' if ansible_distribution == 'Debian' else 'multiverse' }}"

- name: Add MongoDB APT repository
  copy:
    dest: /etc/apt/sources.list.d/mongodb.list
    content: deb [arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb.gpg] https://repo.mongodb.org/apt/{{ mongodb_repo_base }} {{ mongodb_repo_codename }}/mongodb-org/{{ mongodb_version }} {{ mongodb_repo_component }}
    owner: root
    group: root
    mode: '0644'

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install mongodb-org
  apt:
    name: mongodb-org
  notify: Restart mongodb

- name: Flush handlers
  meta: flush_handlers

- name: Install pymongo
  pip:
    name:
      - pymongo>=4.0
    break_system_packages: yes

- name: Setup MongoDB root user
  community.mongodb.mongodb_user:
    database: admin
    name: "{{ datahub.mongodb.root_username }}"
    password: "{{ datahub.mongodb.root_password }}"
    roles: root
  become_user: "{{ application_user }}"

- name: Enable mongod
  service:
    name: mongod
    state: started
    enabled: yes
