---
#- name: Add apt repository
#  include_tasks: add_apt_repository.yml

- name: Install prerequisite packages
  apt:
    name:
      - gnupg
      - curl
      - ca-certificates
      - lsb-release
    state: present
    update_cache: yes

- name: Fail on unsupported distribution
  fail:
    msg: "Unsupported distribution: {{ ansible_distribution }}"
  when: ansible_distribution not in ["Debian", "Ubuntu"]

- name: Set MongoDB repo parameters
  set_fact:
    mongodb_repo_base: "{{ 'debian' if ansible_distribution == 'Debian' else 'ubuntu' }}"
    mongodb_repo_codename: >-
      {{
        'bookworm'
        if ansible_distribution == 'Debian'
        else ansible_distribution_release
      }}

- name: Install MongoDB GPG key
  shell: |
    curl -fsSL https://pgp.mongodb.com/server-{{ mongodb_version }}.asc \
    | gpg --dearmor -o /usr/share/keyrings/mongodb-server-{{ mongodb_version }}.gpg
  args:
    creates: "/usr/share/keyrings/mongodb-server-{{ mongodb_version }}.gpg"

- name: Add MongoDB APT repository
  copy:
    dest: "/etc/apt/sources.list.d/mongodb.list"
    owner: root
    group: root
    mode: '0644'
    content: |
      deb [signed-by=/usr/share/keyrings/mongodb-server-{{ mongodb_version }}.gpg] https://repo.mongodb.org/apt/{{ mongodb_repo_base }} {{ mongodb_repo_codename }}/mongodb-org/{{ mongodb_version }} main

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install mongodb-org
  apt:
    name: mongodb-org
  notify: Restart mongodb

- name: Flush handlers
  meta: flush_handlers

- name: Install pymongo
  pip:
    name:
      - pymongo>=4.0
    break_system_packages: yes

- name: Setup MongoDB root user
  community.mongodb.mongodb_user:
    database: admin
    name: "{{ datahub.mongodb.root_username }}"
    password: "{{ datahub.mongodb.root_password }}"
    roles: root
  become_user: "{{ application_user }}"

- name: Enable mongod
  service:
    name: mongod
    state: started
    enabled: yes
